In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2024,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,979594,ANZSIC06 divisions A-S (excluding classes K633...
1,2024,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,838626,ANZSIC06 divisions A-S (excluding classes K633...
2,2024,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,112188,ANZSIC06 divisions A-S (excluding classes K633...
3,2024,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,28781,ANZSIC06 divisions A-S (excluding classes K633...
4,2024,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,856960,ANZSIC06 divisions A-S (excluding classes K633...

In [4]:
df.tail()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
55615,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
55616,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
55617,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
55618,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
55619,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [5]:
df.describe()

               Year
count  55620.000000
mean    2018.500000
std        3.452084
min     2013.000000
25%     2015.750000
50%     2018.500000
75%     2021.250000
max     2024.000000

In [7]:
df.dtypes

Year                            int64
Industry_aggregation_NZSIOC    object
Industry_code_NZSIOC           object
Industry_name_NZSIOC           object
Units                          object
Variable_code                  object
Variable_name                  object
Variable_category              object
Value                          object
Industry_code_ANZSIC06         object
dtype: object

In [7]:
df.isnull().any()

Year                           False
Industry_aggregation_NZSIOC    False
Industry_code_NZSIOC           False
Industry_name_NZSIOC           False
Units                          False
Variable_code                  False
Variable_name                  False
Variable_category              False
Value                          False
Industry_code_ANZSIC06         False
dtype: bool

In [8]:
df.isnull().sum()

Year                           0
Industry_aggregation_NZSIOC    0
Industry_code_NZSIOC           0
Industry_name_NZSIOC           0
Units                          0
Variable_code                  0
Variable_name                  0
Variable_category              0
Value                          0
Industry_code_ANZSIC06         0
dtype: int64

In [9]:
df.dropna(inplace=True)

Year                           0
Industry_aggregation_NZSIOC    0
Industry_code_NZSIOC           0
Industry_name_NZSIOC           0
Units                          0
Variable_code                  0
Variable_name                  0
Variable_category              0
Value                          0
Industry_code_ANZSIC06         0
dtype: int64

In [13]:
print(df.columns.tolist())

['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC', 'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name', 'Variable_category', 'Value', 'Industry_code_ANZSIC06']

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55620 entries, 0 to 55619
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         55620 non-null  int64
 1   Industry_aggregation_NZSIOC  55620 non-null  object
 2   Industry_code_NZSIOC         55620 non-null  object
 3   Industry_name_NZSIOC         55620 non-null  object
 4   Units                        55620 non-null  object
 5   Variable_code                55620 non-null  object
 6   Variable_name                55620 non-null  object
 7   Variable_category            55620 non-null  object
 8   Value                        55620 non-null  object
 9   Industry_code_ANZSIC06       55620 non-null  object
dtypes: int64(1), object(9)
memory usage: 4.2+ MB

In [18]:
# Convert Value column to numeric
df['Value'] = pd.to_numeric(df['Value'], errors='coerce')

# Now filters will work
agriculture_data = df[df['Industry_name_NZSIOC'] == 'Agriculture, Forestry and Fishing']
level1_data = df[df['Industry_aggregation_NZSIOC'] == 'Level 1']
high_value = df[df['Value'] > 1000000]

In [19]:
industry_data = df[['Industry_name_NZSIOC', 'Variable_name', 'Value']]
specific_columns = df.loc[:, ['Year', 'Industry_code_NZSIOC', 'Value']]

In [20]:
agriculture_data = df[df['Industry_name_NZSIOC'] == 'Agriculture, Forestry and Fishing']
level1_data = df[df['Industry_aggregation_NZSIOC'] == 'Level 1']
high_value = df[df['Value'] > 1000000]

In [ ]:
manufacturing_high_value = df[
    (df['Industry_name_NZSIOC'].str.contains('Manufacturing')) & 
    (df['Value'] > 50000)
]

In [21]:
financial_performance = df.query("Variable_category == 'Financial performance'")
specific_year = df.query("Year == 2024 and Units == 'Dollars (millions)'")

In [24]:
s=df.sort_values('Industry_code_NZSIOC' , ascending=True)

In [28]:
top_5_per_industry = df.groupby('Industry_name_NZSIOC').apply(
    lambda x: x.nlargest(5, 'Value')
).reset_index(drop=True)

C:\Users\nagar\AppData\Local\Temp\ipykernel_10356\1721608771.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  top_5_per_industry = df.groupby('Industry_name_NZSIOC').apply(

In [30]:
# Comprehensive analysis of your data
def analyze_financial_data(df):
    # Filter financial performance data
    financial_df = df[df['Variable_category'] == 'Financial performance']
    
    # Summary by industry
    industry_summary = financial_df.groupby('Industry_name_NZSIOC').agg({
        'Value': ['sum', 'mean', 'std', 'count']
    }).round(2)
    
    # Top variables by value
    top_variables = financial_df.groupby('Variable_name')['Value'].sum().nlargest(10)
    
    # Industry ranking
    industry_ranking = financial_df.groupby('Industry_name_NZSIOC')['Value'].sum().sort_values(ascending=False)
    
    return {
        'industry_summary': industry_summary,
        'top_variables': top_variables,
        'industry_ranking': industry_ranking
    }

# Run analysis
results = analyze_financial_data(df)

print("Industry Summary:")
print(results['industry_summary'])
print("\nTop Variables:")
print(results['top_variables'])
print("\nIndustry Ranking:")
print(results['industry_ranking'])

Industry Summary:
                                                        Value            \
                                                          sum      mean
Industry_name_NZSIOC
Accommodation                                        104430.0    576.96
Accommodation and Food Services                      376753.0   2399.70
Administrative and Support Services                  298706.0   1914.78
Adult, Community and Other Education                  48918.0    337.37
Advertising, Market Research and Management Ser...   319281.0   2217.23
...                                                       ...       ...
Veterinary and Other Professional Services            54692.0    327.50
Warehousing and Storage Services                      50180.0    317.59
Water, Sewerage, Drainage and Waste Services          94102.0    672.16
Wholesale Trade                                     2898661.0  19853.84
Wood Product Manufacturing                           311640.0    842.27


                                                         std count
Industry_name_NZSIOC
Accommodation                                        1129.98   181
Accommodation and Food Services                      4943.63   157
Administrative and Support Services                  4242.28   156
Adult, Community and Other Education                  576.47   145
Advertising, Market Research and Management Ser...   4302.98   144
...                                                      ...   ...
Veterinary and Other Professional Services            621.26   167
Warehousing and Storage Services                      513.65   158
Water, Sewerage, Drainage and Waste Services         1206.14   140
Wholesale Trade                                     41799.69   146
Wood Product Manufacturing                           1781.10   370

[119 rows x 4 columns]

Top Variables:
Variable_name
Total income                                       15339797.0
Total expenditure                                  13395960.0
Purchases and other operating expenses              5653653.0
Sales, government funding, grants and subsidies     4717432.0
Sales of goods and services                         4278991.0
Salaries and wages paid                             2792224.0
Sales of goods not further processed                2470963.0
Surplus before income tax                           2268520.0
Sales of other goods and services                   1891940.0
Purchases of goods bought for resale                1887103.0
Name: Value, dtype: float64

Industry Ranking:
Industry_name_NZSIOC
All industries                                           17258809.0
Wholesale Trade                                           2898661.0
Manufacturing                                             2675308.0
Retail Trade and Accommodation                            2247621.0
Construction                                              1838745.0
                                                            ...
School Education                                            35849.0
Travel Agency and Tour Arrangement Services                 34831.0
Clothing, Knitted Products and Footwear Manufacturing       26454.0
Public order, safety and regulatory services                 4141.0
Food product manufacturing                                   1618.0
Name: Value, Length: 119, dtype: float64