In [2]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series([12, 34, 56, 67, 78 ])
x = pd.Series({ "a" : 12 , "b" : 23})
print(s)
print(x)

0    12
1    34
2    56
3    67
4    78
dtype: int64
a    12
b    23
dtype: int64

In [4]:

data = [1, 2, 3, 4, 5]
series = pd.Series(data)
print("Series:\n", series)
print(type(series))
print(series.ndim)  # Dimension: 1

Series:
 0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>
1

In [5]:
data = ({"a" : 12 , "b" : 13 , "c" : 34 })
series = pd.Series(data)
print(series)
print(series['b'])

a    12
b    13
c    34
dtype: int64
13

In [6]:
data = [10 , 2 ,30]
index= ['a' ,'b' , 'c' ]
pd.Series(data , index=index)

a    10
b     2
c    30
dtype: int64

In [7]:
data1 = {"subject" : [ "maths" , "science" , "physcis" ],
         "marks" : [ 12 , 34, 56  ],
         "city" : ["bangolore" , "hyderabad" , "chennai"],
         "age" : [ 23 , 69,34]
        }
df = pd.DataFrame(data1)
print(df)

   subject  marks       city  age
0    maths     12  bangolore   23
1  science     34  hyderabad   69
2  physcis     56    chennai   34

In [8]:
print(df.size)
print(df.shape)
print(df.columns)
print(df.index)
print(df.dtypes)

12
(3, 4)
Index(['subject', 'marks', 'city', 'age'], dtype='object')
RangeIndex(start=0, stop=3, step=1)
subject    object
marks       int64
city       object
age         int64
dtype: object

In [9]:
np.array(df)

array([['maths', 12, 'bangolore', 23],
       ['science', 34, 'hyderabad', 69],
       ['physcis', 56, 'chennai', 34]], dtype=object)

In [13]:
x1= { "a" : 12, "b" : 2 , "c" : 34}
ser=pd.Series(x1)
print(x1)
print(ser.ndim)
print(type(ser))

{'a': 12, 'b': 2, 'c': 34}
1
<class 'pandas.core.series.Series'>

In [17]:
df = {
    "name" : [ "jahnavi" , "hasini" , "swati" ],
    "age" : [ 90 , 78 ,67]
}
dff = pd.DataFrame(df)
print(dff)
print(dff.ndim)
print(type(dff))

      name  age
0  jahnavi   90
1   hasini   78
2    swati   67
2
<class 'pandas.core.frame.DataFrame'>

In [20]:
print( "shape of dataframe", dff.shape)
print( "size of dataframe", dff.size)
print( "coloumn of dataframe", dff.columns)
print( "index of dataframe", dff.index)
print( "dtype of dataframe", dff.dtypes)

shape of dataframe (3, 2)
size of dataframe 6
coloumn of dataframe Index(['name', 'age'], dtype='object')
index of dataframe RangeIndex(start=0, stop=3, step=1)
dtype of dataframe name    object
age      int64
dtype: object

In [22]:
np.array(df)

array({'name': ['jahnavi', 'hasini', 'swati'], 'age': [90, 78, 67]},
      dtype=object)

In [23]:
dff=pd.read_csv("data.csv")

In [26]:
dff.head(2)

      name  age
0  jahnavi   90
1   hasini   78

In [37]:
x = {
    "name" : [ "jahnavi" , "hasini" , "swati" , "lahari" , "rishitha" , "reshmaa"],
    "place" :[ "hyderbad" , "chennai" , "odisha" , "delhi" , "andhra " , "maharasthra"],
    "age" : [ 18 , 19 , 20 ,18 , 19 ,17 ],
    "branch" : [ "data science" , "Aiml " , "cse" , "cse1" , "cse2" , "cyber"],
}
y= pd.DataFrame(x)
print(y)

       name        place  age        branch
0   jahnavi     hyderbad   18  data science
1    hasini      chennai   19         Aiml
2     swati       odisha   20           cse
3    lahari        delhi   18          cse1
4  rishitha      andhra    19          cse2
5   reshmaa  maharasthra   17         cyber

In [42]:
print(y.loc[3])

name      lahari
place      delhi
age           18
branch      cse1
Name: 3, dtype: object

In [44]:
print(y.iloc[2 , 3])

cse

KeyError: 'Age'